{% extends 'learning_logs/base.html' %}

{% block page_header %}
	<h3>{{ temat }}</h3>
{% endblock page_header %}

{% block content %}
	<p>
		<a class="btn btn-md btn-primary" href="{% url 'learning_logs_app:nowy_wpis' temat.id %} ">Dodaj nowy wpis</a>
	</p>
	
	{% for wpis in wpisy %}
		<div class="card mb-3">
			<h4 class="card-header">{{ wpis.date_added|date:'Y-M-d H:i' }} 
				<small><a class="btn btn-sm btn-primary" href="{% url 'learning_logs_app:edycja_wpisu' wpis.id %}">Edytuj wpis</a></small>
			</h4>
			<div class="card-body">
				{{ wpis.text | linebreaks }}
			</div>
		</div>
	{% empty %}
		<p>Brak wpisów w tym temacie</p>
	{% endfor %}

{% endblock content %}